
 
 .container-fluid{
   display: flex;
   height: auto;
   width: auto;
  
 }.row{
   display: flex;
 }
 
  .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
  display: flex;
  
}
.player-details {
    color : silver;
    font-weight: bold;
}

.modal {
    color : black;
}






.card:before {
content:"";
position:absolute;
width:100%;
height:100%;
top:0;left:0;right:0;

}

.card card-img-top {
display:block;
}
.card button {
position: absolute;

top: 40%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
opacity:0;
} 
.card:hover button{   
opacity: 1;
}

.Card-Body{
padding: 3rem 0;
}
.Card-text{
  font-size: 9rem;
}

.card-img-top{
  transform: scale(1);
}

.card-img-top:hover{
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 27px;
  transform: scale(1.3);
}
.cardtitle{
  padding-top: 30px;
}


.card:hover{
     transform: scale(1);
     box-shadow: 0 100px 100px rgba(44, 163, 147, 0.397), 0 10px 800px rgba(2, 150, 248, 0.623);
}

.addPlayer { 
    border-style :groove;
    border-color : skyblue;
    box-shadow: 0 100px 100px rgba(44, 163, 147, 0.329), 0 10px 800px rgba(2, 150, 248, 0.383);
    height: 400px;
    transform: scale(1);
}
  