
 
 .container-fluid{
   display: flex;
   height: auto;
   width: auto;
  
 }.row{
   display: flex;
 }
 
  .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
  display: flex;
  
}






.card:before {
content:"";
position:absolute;
width:100%;
height:100%;
top:0;left:0;right:0;

}

.card card-img-top {
display:block;
}
.card button {
position: absolute;

top: 40%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
opacity:0;
} 
.card:hover button{   
opacity: 1;
}

.Card-Body{
padding: 3rem 0;
}
.Card-text{
  font-size: 9rem;
}

.card-img-top{
  transform: scale(1);
}

.card-img-top:hover{
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 27px;
  transform: scale(1.3);
}
.cardtitle{
  padding-top: 30px;
}


.card:hover{
     transform: scale(1);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
  