$primary: #003399;
$danger: #982222;
$success: #155F23;
$black: #000000;
$white: #fff;
$cream: #f8f8f8;
$placeholder-color: #626262;
$main-bg: #f9f8fb;

$nav-bar-background: #97B2D6;

$budget-list-item-colors: #982222, #BA3939, #CE5A5A, #D97878, #EA9191, #EDA7A7, #EFBCBC, #FFD0D0, #FFDBDB;
$common-budget-list-color: #FFDBDB;
$networth-caption-color: #414141;
$asset-title-color: #6D9BD0;
$link-color: #44A3DE;
$liability-title-color: #D06464;
$dashboard-icon-color: #68B978;
$dashboard-section-title-color: #777272;
$dashboard-section-value-color: #414141;
$budget-list-item-default-color: #982222;
$dropdown-border-color: #ced4da;

$transaction-font-color: #777272;
$transaction-border-color: #e7e7e7;
$transaction-icong-bg-color: #C7C7C7;
$budget-list-amount-text-color: #4B4B4B;
$budget-list-border-color: #C3C3C3;
$success-overlay-bg: #EFF5FF;
$tab-active-border-color: #707070;

$notifications-success-bg-color: #BFDEC5;
$notifications-failure-bg-color: #EBBEBE;
$notifications-info-bg-color: #C4DDFF;

$no-data-font-color: #c3c3c3
