.main{
    background-color:rgb(206, 205, 205);
    height: 500px;
    overflow: scroll;
      
}

.upcoming {
    font-weight: bold;
    color: rgb(39, 39, 39);
    float: left;
}
.main-event {
    background-color: whitesmoke;
    width: 100%;
    box-shadow: rgb(172, 172, 172);
    box-shadow: 1px 1px 1px 1px;
    float: center;
    padding : 0;
    height : auto;
   
}



.sub-main-event:hover {
    background-color: rgb(224, 224, 224);
}

.sub-main-event-2 {
    padding : 0px;
    margin : 0px;
}

.GameTitle {
    font-weight: bold;
}
.event-details {
    
    position :relative;
    float: left;
}



.event-sub-details {
    /* color: rgb(182, 182, 182); */
    color: rgba(79, 243, 115, 0.692);
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
img {
    max-width: 100%;
    max-height: 100%;
    padding : 0;
    margin : 0;
}

