.register{
    
    background-color:#EBEFEC;
    width: 800px;
    height: 300px;
   
    }
    .row{
        margin-top: 30px;
    }
    .suggestion-text {
        color: lightgrey;
    }
    
    .btn-primary {
        float : left;
        margin-bottom: 30px;
       align-items: center;
    }
    .registerbtn {
        align-items: center;
        align-content: center;
        margin-bottom: 30px;
        margin-top: 20px;
        margin-left: 350px;
       align-items: center;
       width: 100px;
    }