.register{
margin-top: 30px;
margin-left: 300px;
background-color:#EBEFEC;
width: 800px;
height: 500px;
padding: 40px;
}
.row{
    margin-top: 30px;
}
.suggestion-text {
    color: lightgrey;
}

.btn-primary {
    float : left;
    margin-bottom: 30px;
   align-items: center;
}
.registerbtn {
    float : left;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-top: 50px;
   align-items: center;
   width: 100px;
}